<div id="message-">
  <div class="message-info">
    <small>
      <strong><%= message.user.first_name %></strong>
    </small>
    <p><%= message.content %></p>
  </div>
    <div class="message-time"> <small><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></small></div>
</div>
