.profil {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-category {
  height: 180px;
  width:250px;
  display: flex;


  // align-items: center;
  font-size: 18px;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 16px 16px 16px 16px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  a {
    text-decoration: none;
    color: #126B9A;
  }
}

.name-card{
  margin-left: auto;
  position: relative;
  bottom: -180px;
  text-align: center;
}

.fa-circle-plus{
  font-size: 50px;
  color: #F9DA56;
  margin-top:38%;
  margin-left: 40%;
  text-align: center;
}
.fa-circle-plus :hover{
  rotate: 30 deg;
}
.fa-circle-plus



.geo-map {
  background: #ffa500;
  margin-left: 50px;
  width: 400px;
  height: 500px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.geo-map-users {
  margin-top: 30px;
  width: 400px;
  height: 500px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.provider-show {
  margin-left: 50px;
  margin-bottom: 10px;
}
.btn-mymission {
  margin-left: 10px;
  margin-bottom: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
