<div class="footer footer-container">
  <p>Team Infinity | <i class="fa-solid fa-phone"></i> 07 56 76 56 00 | ©2022 Infinity Inc. All rights reserved | Politique de confidentialité | Conditions | Plan du site</p>
</div>
