<div class="banner">
  <div class="container">
    <h1 id="banner-txt">Infinity</h1>
    <br>
    <h2 class ='text-white shadow-sem'>Rendre hommage à nos proches, en toute sérennité </h2>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Demander une prestation", user_path(current_user), class: "btn btn-flat" %>
    <% else %>
      <%= link_to "Demander une prestation", user_session_path, class: "btn btn-flat" %>
    <% end %>
    <br>
    <br>
      <%= link_to "Effectuer une prestation", provider_orders_path, class: "btn btn-primary" %>

  </div>
</div>

<div class="container">
   <div class="row">
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
        <img src="https://t4.ftcdn.net/jpg/04/06/71/29/360_F_406712903_N0Sf8cl8XxgdpGSkBAHc0aO9zr2O6WCJ.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Suivez l'actualité des tombes des défunts, et organisez et partagez avec vos proches</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
        <img src="https://t4.ftcdn.net/jpg/04/06/71/29/360_F_406712903_N0Sf8cl8XxgdpGSkBAHc0aO9zr2O6WCJ.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Commandez des prestations à distance : entretien, dépose de fleurs, arrosage, demandes particulières</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12">
      <div class="card" >
        <img src="https://t4.ftcdn.net/jpg/04/06/71/29/360_F_406712903_N0Sf8cl8XxgdpGSkBAHc0aO9zr2O6WCJ.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Procurez de la serenité en devenant prestataire à votre tour</p>
        </div>
      </div>
    </div>
  </div>
</div>
