<div class="banner">
  <div class="container">
    <div class="ban-btn">
      <i class="fa-regular fa-circle-plus"></i>
      <%= link_to "Demande une prestation","#" ,class: "link" %>
    </div>
  </div>
</div>
