.card-product {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 3px 5px 6px  rgba(54, 54, 54, 0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 8px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-infos {
  padding: 16px;
  display: flex;
  width: 100%;
}
.btn-details{
  flex-direction: column;
  align-self: flex-end;
  margin-left: auto;
  height: 30px;
  width: 80px;
  color: #126B9A;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #126B9A;
  bottom: 5px;
  left: 100%;
  text-align: center;
  text-decoration: none;
}
.btn-details:hover{
  transition: 1s;
  color: white;
  background-color: #126B9A;
}
.prestation-list{
  padding-left: 24px;
}
