.card-product {
  overflow: hidden;
  height: auto;
  background: white;

  // box-shadow: 0 0 15px rgba(0,0,0,0.2);;
  display: flex;

  align-items: center;
  // margin-top: 50px;
  // border-bottom: 5px solid aliceblue;
  // border-radius: 16px 16px 16px 16px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-infos {
  padding: 16px;
  display: flex;
  width: 100%;
}
.fa-arrow-up-right-from-square{
  flex-direction: column;
  align-self: flex-end;
  margin-left: auto;
  color: #126B9A;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}
.btn-details:hover{
  opacity: 0.6;
}

.card-infos {
  block-size: 250px;
  border-radius: 16px;
}

.prix-total {
  margin-top: 50px;
}


.heyy {
  width: auto;
  margin: auto;
}

.my-card-product {
  height: auto;
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 22px;
    font-weight: 700;
  }
  li p {
    font-size: 22px;
  }

  li {
    font-size: 22px;
  }

  .order-date {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    p {
      font-size: 20px;
    }
  }
}

.mini-card-1 {
  background-color: #EDF4F5;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  width: 60%;
  margin: 5px;
  align-items: center;
}

.mini-card-2 {
  background-color: #EDF4F5;
  border-radius: 8px 8px 8px 8px;
  padding: 15px 15px 15px 15px;
  width: 40%;
  margin: 5px;
}



.order-foot-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.okok {
  // margin-top: 40px;
  h5 {
    font-size: 22px;
    font-weight: 700;
  }

}

.prix {
  display: block;
  margin: 0;
  h5 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  p {
    font-size: 22px;
  }
}

.orders-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.tomb-stone {
  p {
    margin-left: 0;
  }
}

.fa-xmark{
  color: #B63A3A;
}

.finish text{
  text-align: center;
  margin: 0;
}

// .cards-order{
//   display: flex;
//   margin-top: 16px;
//   background-color: #EDF4F5;
//   padding: 16px;
//   border-radius: 16px;
// }

.btn-detail{
  display: flex;
  justify-content: right;
}
