.card-product {
  overflow: hidden;
  height: auto;
  background: white;

  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color:aliceblue;
  display: flex;
  align-items: center;
  margin-top: 12px;
  border: 5px solid aliceblue;
  border-radius: 20px 20px 0 0;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-infos {
  padding: 16px;
  display: flex;
  width: 100%;
}
.btn-details{
  flex-direction: column;
  align-self: flex-end;
  margin-left: auto;
  height: 30px;
  width: 80px;
}
.btn-details:hover{
  transition: 1s;

  color: white;
  background-color: #126B9A;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}
