.row{
  background-color: white;
  margin-top: 30px;
  align-self: center;
  justify-content: center;
}
.card{
  padding: 40px;
  align-self: center;
  align-items: center;
  width: 100%;
  border: 0px;
}
.image-home{
width: 200px;
height: 200px;
}
.col{
  padding-top: 40px;
  align-items: center;
}
.card-text{
  text-align: center;
}
.add-tomb{
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge{
  margin-left: auto;
  position: absolute;
  top: -15px;
  right: -15px;
  align-self: flex-start;
  padding: 5px 13px;
  font-size: 16pt;
  border-radius: 50%;
  background-color: #CF0A0A;
  color: white;
}
.badge-orange{
  margin-left: auto;
  position: absolute;
  font-size: 16pt;
  top: -15px;
  right: -15px;
  align-self: flex-start;
  padding: 5px 13px;
  border-radius: 50%;
  background-color: #F49D1A;
  box-shadow:0 0 0 rgba(#b5710d, 0.4) ;
  color: white;
  animation: pulse 2s infinite;
}
.name{
  text-decoration: none;
  color: white;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(#d38614, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(#d38614, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(#d38614, 0);
  }
}
.card-clients{
  background-color: azure;
}
.cards-client{
  display: flex;
  justify-content: space-evenly;
}
.card-client{
  background-color: white;
  width: 250px;
  height: 300px;
  border-radius: 16px;
  border: 2px solid gray;
}
.card-client-title{
  align-items: center;
  margin-top: 8px;
}
