.row{
  background-color: white;
  margin-top: 30px;
  align-self: center;
  justify-content: center;
}
.card{
  padding: 40px;
  align-self: center;
  align-items: center;
  width: 100%;
  border: 0px;
}
.image-home{
width: 200px;
height: 200px;
}
.col{
  padding-top: 40px;
  align-items: center;
}
.card-text{
  text-align: center;
  color: rgb(5, 71, 82);
  font-weight: 500;
  font-size: 20px;
}
.add-tomb{
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge{
  margin-left: auto;
  position: relative;
  top: -15px;
  right: -15px;
  align-self: flex-start;
  padding: 10px 14px;
  font-size: 16pt;
  border-radius: 50%;
  background-color: #CF0A0A;
  color: white;
}
.badge-orange{
  margin-left: auto;
  position: relative;
  top: -15px;
  right: -15px;
  align-self: flex-start;
  padding: 5px 14px;
  font-size: 16pt;
  font-weight: bold;
  border-radius: 50%;
  background-color: #F49D1A;
  box-shadow:0 0 0 rgba(#b5710d, 0.4) ;
  color: white;
  animation: pulse 2s infinite;
}
.name{
  text-decoration: none;
  color: white;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(#d38614, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(#d38614, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(#d38614, 0);
  }
}
.cards-client{
  display: flex;
  justify-content: space-evenly;
}
.card-client{
  position: relative;
  background: rgba(18, 107, 154, 0.7);
  width: 250px;
  height: 300px;
  border-radius: 16px;
  border: 2px solid gray;
  padding: 16px;
  box-shadow: 3px 3px 3px gray;
  margin-bottom: 16px;
  color: white;
}
.rating{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 8px ;
}
.card-client-title{
  align-items: center;
  margin-top: 8px;
  margin-left: 8px;
}
.fa-star{
  color: yellow;
}
.text{
  display: flex;
}

.card-clients h1 {
  color: rgb(5, 71, 82);
}
