.navbar-lewagon {
  justify-content: space-between;
  background: #126B9A;
  z-index:999;
  width: 100%;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link{
  color: white;
}
