.statut-pending{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}
.statut-accepted{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(255, 230, 0);
}
.statut-validated{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(3, 142, 40);
}
